# ------- IDE -------
.idea/
*.iml
*.iws
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ------- Cursor AI -------
.cursor/

# ------- Dart & Shared -------
**/.dart_tool/
**/.pub-cache/
**/.pub/
**/build/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies


# ------- Frontend -------
# --- Flutter ---
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
frontend/build/

# --- Android ---
frontend/android/.gradle/
frontend/android/local.properties
frontend/android/**/build/
frontend/android/**/.cxx/
frontend/*.keystore
frontend/*.jks

# --- iOS / macOS ---
frontend/ios/.generated/
frontend/ios/Flutter/App.framework/
frontend/ios/Flutter/Flutter.framework/
frontend/ios/Flutter/GeneratedPluginRegistrant.*
frontend/ios/Flutter/Flutter.podspec
frontend/ios/Pods/
frontend/.fvm/flutter_sdk

# --- Secrets ---
frontend/.env
frontend/.env*
!frontend/.env.example

# --- Logs ---
frontend/*.log

# --- Generated code ---
frontend/*.g.dart
frontend/*.freezed.dart


# ------- Backend -------
backend/.dart_tool/
backend/build/
backend/.packages

# --- Secrets ---
backend/.env
backend/.env.*
!backend/.env.example

# --- Logs ---
backend/*.log